@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  #form,
  .content {
    width: 100%;
  }
  .btn {
    flex-direction: column;
  }
  .images {
    height: 70vh;
  }
}

@media (max-width: 425px) {
  #form {
    padding: 20px;
  }
}
